<div class="d-flex justify-content-between">
  <div class="h3">Select Transaction Type</div>
  <mat-icon class="icon-display" (click)="close()">close</mat-icon>
</div>
<div class="row-fluid">
  <small class="text-grey">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit psum dolor sit amet,
    consectetur adipiscing.
  </small>
</div>
<div class="row-fluid mt-4">
  <div class="row" *ngFor="let transact of transactionTypes">
    <div class="col-md-1">
      <div class="align-self-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selections.toggle(transact.id) : null"
          [checked]="selections.isSelected(transact.id)"
        >
        </mat-checkbox>
      </div>
    </div>
    <div class="col-md-11">
      {{ transact?.name }}
    </div>
    <mat-divider class="mt-3 mb-3"></mat-divider>
  </div>
</div>
<div class="row-fluid d-flex justify-content-end mt-5">
  <button mat-flat-button color="default" type="button" (click)="close()">
    <span class="text-danger">Cancel</span>
  </button>
  <button mat-flat-button color="primary" type="button" (click)="submit()">
    Save {{ (this.selections.selected?.length && selected) || '' }}
  </button>
</div>
