.icon-display {
    font-size: 26px;
    font-weight: 700;
}

.list-table {
    border: solid 2px var(--cool-grey-20);
    border-radius: 10px;
}

.header-table {
    color: black;
    background-color: var(--cool-grey-20);
}

.header-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.img-user {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}