@import "~@angular/material/theming";
@include mat-core();

@import "colours";

$one-equity-primary: mat-palette($primary);
$one-equity-accent: mat-palette($success);
$one-equity-warn: mat-palette($error);
$one-equity-typography: mat-typography-config($font-family: 'Open Sans, Roboto, sans-serif',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500));

$one-equity-theme: mat-light-theme($one-equity-primary,
    $one-equity-accent,
    $one-equity-warn);

@include angular-material-theme($one-equity-theme);
@include angular-material-typography($one-equity-typography);

.mat-white {
    color: var(--white) !important;
}

.text-success {
    color: mat-color($one-equity-accent) !important;
}

.text-warning {
    color: mat-color($one-equity-warn) !important;
}