<app-profile-management-top-nav
  title="Set Account Limits"
  toolbarPage="Corporate Onboarding"
></app-profile-management-top-nav>

<form action="" [formGroup]="accountLimitsForm">
  <mat-accordion multi>
    <!-- Account 1 -->
    <!-- TODO:: Loop through accounts -->
    <mat-expansion-panel
      [expanded]="panelOpenState.loot === true"
      (opened)="(panelOpenState.loot === true)"
    >
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <h2 class="bullets">1</h2>
          <h2>Loot</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="d-flex flex-column">
        <div class="row pt-4">
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="currency"
              placeholder=""
              formControlName="currency"
              label="Currency"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="maximumPerTransaction"
              placeholder=""
              formControlName="maximumPerTransaction"
              label="Maximum Per Transaction"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="dailyLimit"
              placeholder=""
              formControlName="dailyLimit"
              label="Daily Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="weeklyLimit"
              placeholder=""
              formControlName="weeklyLimit"
              label="Weekly Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="monthlyLimit"
              placeholder=""
              formControlName="monthlyLimit"
              label="Monthly Limit"
            ></app-input>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- Transaction Limits -->
    <mat-expansion-panel
      [expanded]="panelOpenState.classic === true"
      (opened)="(panelOpenState.classic === true)"
    >
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <h2 class="bullets">2</h2>
          <h2>Equity Classic</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="d-flex flex-column">
        <div class="row pt-4">
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="currency"
              placeholder=""
              formControlName="currency"
              label="Currency"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="maximumPerTransaction"
              placeholder=""
              formControlName="maximumPerTransaction"
              label="Maximum Per Transaction"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="dailyLimit"
              placeholder=""
              formControlName="dailyLimit"
              label="Daily Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="weeklyLimit"
              placeholder=""
              formControlName="weeklyLimit"
              label="Weekly Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="monthlyLimit"
              placeholder=""
              formControlName="monthlyLimit"
              label="Monthly Limit"
            ></app-input>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Tariffs -->
    <mat-expansion-panel
      [expanded]="panelOpenState.mobile === true"
      (opened)="(panelOpenState.mobile === true)"
    >
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <h2 class="bullets">4</h2>
          <h2>0700000000</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-column">
        <div class="row pt-4">
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="currency"
              placeholder=""
              formControlName="currency"
              label="Currency"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="maximumPerTransaction"
              placeholder=""
              formControlName="maximumPerTransaction"
              label="Maximum Per Transaction"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="dailyLimit"
              placeholder=""
              formControlName="dailyLimit"
              label="Daily Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="weeklyLimit"
              placeholder=""
              formControlName="weeklyLimit"
              label="Weekly Limit"
            ></app-input>
          </div>
          <div class="col-md-4">
            <app-input
              [parentForm]="accountLimitsForm"
              fieldName="monthlyLimit"
              placeholder=""
              formControlName="monthlyLimit"
              label="Monthly Limit"
            ></app-input>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="d-flex flex-row justify-content-between mt-4 mb-4">
    <div class="">
      <button mat-stroked-button color="primary">Quit</button>
    </div>
    <div>
      <div class="d-flex mx-4">
        <div class="mx-5">
          <button mat-stroked-button color="primary" (click)="skip()">
            Skip
          </button>
        </div>
        <div>
          <button mat-raised-button (click)="saveAndContinue()" color="primary">
            Save & Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
