.bullets {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: lightgrey;
    border: 2px solid lightgrey;
    text-align: center;
    margin-right: 1rem;
}

.panel-header {
    height: 6vh !important;
}