.wrapper {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0;
}

.toolbar {
    background: #FFFFFF;
    /* 1 dp */

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.vl {
    border-left: 2px solid #92949733;
    height: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.toolbar-page {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #929497;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar-documents {
    font-size: 16px;
    font-weight: 600;
    color: #A32A29;
}

.toolbar-actions {
    display: flex;
    justify-content: space-between;
    // width: 40%;
}

.dropdown-arrow {
    width: 7%;
}

.toolbar-actions-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}

.toolbar-actions-section:hover {
    background-color: #F7F7F7;
    border-radius: 8px;
    cursor: pointer;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-item>span {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .toolbar-actions {
        width: 55%;
    }
}

::ng-deep .mat-menu-panel {
    max-width: 500px !important;
}

a:hover {
    color: var(--equity) !important;
}
