<mat-card>
    <div class="row col-md-12">
        <div class="col-md-6">
          <div class="ps-5 ms-5 pt-5">
            <img src="assets/images/backgrounds/visual-support-icons-virtual-account-submission-avatar.svg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
            <div class="mt-5">
                <h3>You’re all done!</h3>
                <p><small class="text-grey">Batch payment has been submitted for approval.</small></p>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="d-flex flex-column" *ngIf="transactionDetails?.type === 'approval'">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Account name</p>
                        <p>{{transactionDetails?.accountName}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Batch payment total</p>
                        <p>{{transactionDetails?.amount}} {{transactionDetails?.currency}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Total charges</p>
                        <p>{{transactionDetails?.transferCharge}} {{transactionDetails?.currency}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">CIF</p>
                        <p>{{transactionDetails?.cif}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-column" *ngIf="transactionDetails?.type === 'workflow'">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">CIF</p>
                        <p>{{transactionDetails?.cif}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Account number</p>
                        <p>{{transactionDetails?.accountNumber}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Account name</p>
                        <p>{{transactionDetails?.accountName}}</p>
                      </div>
                      <div class="col-md-6 mb-3">
                        <p class="text-grey">Account currency</p>
                        <p>{{transactionDetails?.currency}}</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</mat-card>

<div class="d-flex justify-content-end py-5">
    <div>
        <button
        mat-raised-button
        type="submit"
        color="primary"
        class="px-5"
        (click)="backToOverview()"
      >
      Back to overview
      </button>
    </div>
</div>