.new-recipient-modal-screen {
  width: 32vw;
  height: 95vh;
  overflow-x: hidden;
  position: relative;
}

.mat-dialog-container {
  margin: 0;
  padding: 0;
}
.close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.img-d {
  width: 60px;
  height: 60px;
}
