<div class="new-recipient-modal-screen p-1">
  <div class="p-3">
    <button mat-icon-button matSuffix class="close-button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <p class="text-center fw-bold pt-2">Country</p>
    <h3 class="m-4 ms-2">Please select country</h3>
    <div class="row gx-0">
      <mat-form-field appearance="outline">
        <input
          matInput
          [(ngModel)]="searchText"
          placeholder="Search for a country"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <h3
        class="strong-text p-3"
        *ngIf="(data.country | countrySearch: searchText).length as results"
      >
        {{ results }} result{{ results ? 's' : '' }}
      </h3>
    </div>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="labelPosition">
      <div
        *ngFor="
          let item of data.country | countrySearch: searchText;
          let isLast = last;
          let i = index
        "
      >
        <app-country-list-item
          [selection]="selections"
          [data]="item"
          [isChecked]="selections.isSelected(item.countryCode)"
          [type]="data.type"
          [category]="data.category"
          [index]="i"
        ></app-country-list-item>
        <mat-divider *ngIf="!isLast" class="pt-3"></mat-divider>
      </div>
    </mat-radio-group>
  </div>
</div>
