<div class="row justify-content-between">
  <div class="col-4">
    <mat-form-field
      appearance="standard"
      style="width: 100%"
      floatLabel="always"
      (click)="openCurrencyModal()"
    >
      <mat-label>Amount</mat-label>
      <input
        matInput
        type="text"
        class="strong-text"
        [id]="currencyFieldName"
        [name]="currencyFieldName"
        [value]="currency?.currencyCode || ''"
        [placeholder]="currency?.currencyCode || 'KES'"
      />
      <button type="button" mat-icon-button matSuffix>
        <mat-icon svgIcon="caret-down"></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-8">
    <mat-form-field appearance="standard" style="width: 100%">
      <input
        matInput
        type="number"
        class="strong-text"
        [id]="fieldName"
        [name]="fieldName"
        [value]="value?.amount || ''"
        [disabled]="sendFromAccount === undefined"
        (input)="onChange($event)"
        (blur)="touched()"
        [placeholder]="placeholder"
        placeholder="Enter an amount"
      />
      <mat-hint *ngIf="conversionRate">
        <span
          >Converted amount = {{ conversionRate?.convertedAmount }}
          {{ currency.currencyCode }}</span
        >
        <br />
        <span
          >1 {{ currency.currencyCode }} = {{ conversionRate?.rate }}
          {{ sendFromAccount.currency }}</span
        >
      </mat-hint>
    </mat-form-field>

    <app-field-errors [formField]="formField"></app-field-errors>
  </div>
</div>
