<!-- <div class="content">
  <app-lateral-navbar></app-lateral-navbar>
  <br />
  <router-outlet></router-outlet>
</div> -->

<mat-sidenav-container class="h-100">
  <mat-sidenav #sidenav class="col-2" [opened]="true" [mode]="'side'">
    <app-sidebar-menu></app-sidebar-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid min-vh-100 content pt-5">
      <div class="ps-4">
        <app-lateral-navbar></app-lateral-navbar>
        <br />
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
