<mat-card class="h-100">
  <div *ngIf="!stage">
    <div class="row">
      <div class="col-md-8">
        <div class="h2">{{ info[category] }}</div>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <button
          mat-button
          color="default"
          style="color: text-danger"
          [routerLink]="['../../' + category + '/add']"
        >
          <mat-icon>add</mat-icon> Add user
        </button>
        <button mat-button color="default" style="text-danger">
          <mat-icon svgIcon="filter"></mat-icon>Filter
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <small> Create roles and assign them to users</small>
    </div>
    <div class="row mt-5 lower-template">
      <div class="row-fluid text-center" *ngIf="!this.users?.length">
        <img
          width="450px"
          src="assets/images/visual-support-icons-empty-data.svg"
          class="img-fluid"
        />
        <p class="text-bold pt-3">
          There are currently no {{ info[category]?.toLowerCase() }}
        </p>

        <button
          mat-flat-button
          class="mt-1"
          color="primary"
          type="button"
          [routerLink]="['../../' + category + '/add']"
        >
          Add user
        </button>
      </div>
      <div class="row-fluid" *ngIf="this.users?.length">
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Date created
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.creationTime | date: 'dd/MM/y' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
              <span
                class="p-2 pe-3 ps-3 status"
                [ngClass]="{
                  enabled: row.status === 'Enabled',
                  disabled: row.status === 'Disabled'
                }"
              >
                {{ row.status }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button type="button" mat-icon-button matSuffix>
                <mat-icon [matMenuTriggerFor]="menu" matSuffix
                  >more_horiz</mat-icon
                >
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="enableUser(element)">
                  <span>Enable User</span>
                </button>
                <button mat-menu-item (click)="disableUser(element)">
                  <span>Disable User</span>
                </button>
                <button mat-menu-item (click)="deleteUser(element)">
                  <span>Delete User</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="stage === 'completed'">
    <app-confirmation-completion
      [data]="completionData"
      (confirmationDone)="confirmationDone($event)"
    ></app-confirmation-completion>
  </div>
</mat-card>
