.new-recipient-modal-screen {
  width: 22vw;
  height: 90vh;
  overflow-x: hidden;
  position: relative;
}

.s-padding {
  padding: 28px;
}
.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
