<div class="new-recipient-modal-screen p-1">
  <button mat-icon-button matSuffix class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p class="text-center fw-bold pt-2">Currency</p>
  <h3 class="m-4 ms-2">Please select currency</h3>
  <div class="row gx-0 p-3">
    <div *ngFor="let item of data; let isLast = last; let i = index">
      <app-currency-list-item
        [data]="item"
        [isChecked]="selected?.currencyCode === item.currencyCode"
      >
      </app-currency-list-item>
      <mat-divider *ngIf="!isLast" class="pt-3"></mat-divider>
    </div>
  </div>
</div>
