.sequential-modal-screen {
    width: 375;
    margin: 0;
    padding: 0;
  }

.button_icon {
    background: rgba(146, 148, 151, 0.2);
    box-shadow: none;
  }

.card{
    border: none !important;
  }

.addicon {
    color: #A32A29;
}

.border-sequential {
    height: 88px;
    border-color: #ebe9e9 !important;
  }
  