<div class="d-flex justify-content-between" *ngIf="data?.action === 'new'">
  <div class="h3">Configure Template</div>
  <div class="h5 text-danger strong-text cursor-pointer" (click)="addNewLine()">
    <span><mat-icon class="icon-display">add</mat-icon></span>
    <span> Add row</span>
  </div>
</div>
<div class="d-flex justify-content-between" *ngIf="data?.action === 'edit'">
  <div class="h3">Edit Template</div>
</div>
<mat-divider mat-inset></mat-divider>
<div class="list-table mt-5">
  <form [formGroup]="formData" autocomplete="off">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z1 w-100"
      formArrayName="formArray"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" *ngIf="data?.action === 'edit'">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row.value?.name) : null"
            [checked]="selection.isSelected(row.value?.name)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Column Id</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Column Name
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [formGroupName]="i"
        >
          <span *ngIf="!element.value.edit"> {{ element.value.name }}</span>
          <mat-form-field *ngIf="element.value.edit">
            <input
              name="inputName{{ i }}"
              matInput
              type="text"
              formControlName="name"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="required">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by required"
        >
          Required?
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [formGroupName]="i"
        >
          <span *ngIf="!element.value.edit"> {{ element.value.required }}</span>
          <mat-form-field
            class="full-width"
            color="accent"
            appearance="legacy"
            *ngIf="element.value.edit"
          >
            <mat-label>Required?</mat-label>
            <mat-select formControlName="required">
              <mat-option value="R">Required</mat-option>
              <mat-option value="O">Optional</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by type"
        >
          Type
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [formGroupName]="i"
        >
          <span *ngIf="!element.value.edit"> {{ element.value.type }}</span>
          <mat-form-field
            class="full-width"
            color="accent"
            appearance="legacy"
            *ngIf="element.value.edit"
          >
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="A">A</mat-option>
              <mat-option value="AN">AN</mat-option>
              <mat-option value="D">D</mat-option>
              <mat-option value="N">N</mat-option>
              <mat-option value="NA">NA</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="businessRules">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Business Rule"
        >
          Business Rule
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [formGroupName]="i"
        >
          <span *ngIf="!element.value.edit">
            {{ element.value.businessRules }}</span
          >
          <mat-form-field *ngIf="element.value.edit">
            <mat-label>Business Rule</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              name="inputName{{ i }}"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="businessRules"
            ></textarea>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div>
            <mat-icon
              svgIcon="three-dots-circled"
              [matMenuTriggerFor]="menu"
            ></mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editRow(element)">
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="removeRow(i)">
                <span>Remove</span>
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="header-table"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </form>
</div>
<div class="row-fluid d-flex justify-content-end mt-5">
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="submit()"
    [disabled]="formData.status === 'INVALID'"
  >
    Update
  </button>
</div>
