.button-container {
    position: relative;
    top: -4.7vh;
    display: flex;
    justify-content: center;
}

.customIcon {
    font-size: 50px;
    height: 40px;
    width: 40px;
    color: var(--equity)
}