<div>
  <mat-card>
    <div class="d-flex justify-content-between p-3">
      <div>
        <h2>Service Portal</h2>
        <p class="text-grey">Easily assist existing or new biller customers</p>
      </div>
      <div>
        <mat-icon class="customIcon" svgIcon="search"></mat-icon>
        <mat-icon class="customIcon" svgIcon="info">info</mat-icon>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div>
      <div class="d-flex flex-column">
        <div class="row mt-3 p-3">
          <div class="col-md-4 mb-4">
            <mat-card (click)="openCorporateSearchModal()">
              <img
                height="100vh"
                mat-card-image
                src="assets/images/backgrounds/customer-service.png"
              />

              <div class="button-container">
                <button mat-fab color="light">
                  <mat-icon svgIcon="add"></mat-icon>
                </button>
              </div>

              <div class="text-center">
                <h3 class="fw-bold">Biller Onboarding</h3>
                <p class="text-grey">
                  Onboard a customer to allow them start using biller manager.
                </p>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
