.select-account-modal-screen {
  width: 22vw;
  position: relative;
}

// .mat-dialog-container {
//   margin: 0;
//   padding: 0;
// }
.mat-card {
  background-color: #f7f7f7;
}

.close-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
