<mat-card class="m-2 mb-3 cursor-pointer mat-elevation-z0" (click)="select()">
  <div class="row align-items-stretch">
    <div class="col-md-1">
      <mat-icon
        color="primary"
        [svgIcon]="isChecked ? 'radio-button-on' : 'radio-button-off'"
      ></mat-icon>
    </div>
    <div class="col-md-11">
      <h4>{{ data.accountName }}</h4>
      <p class="mb-1">
        Account Balance {{ data.balance | number: '0.2' }} {{ data.currency }}
      </p>
      <small class="mb-1 text-grey"
        >{{ data.accountName }} &#183; {{ data.accountType }}
      </small>
    </div>
  </div>
</mat-card>
